<h2><%= link_to @movie do %><%= @movie.title %><% end %></h2>
<% if @movie %>
  <%= render @movie %>
  <% end %>
<%= render 'reviews/create' %>
<% if @reviews %>
  <% @reviews.each do |review| %>
<%= render review %>
  <% end %>
<% end %>